<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.start_date %></td>
    <td><%= schedule.end_date %></td>
    <td><%= link_to 'Show', schedule_plan_schedule_path(schedule.schedule_plan,schedule) %></td>
    <td><%= link_to 'Edit', edit_schedule_plan_schedule_path(schedule.schedule_plan, schedule) %></td>
    <td><%= link_to 'Destroy', schedule_plan_schedule_path(schedule.schedule_plan,schedule), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_plan_schedule_path(@schedule_plan) %>
