<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @schedule.date %>
</p>

<p>
  <b>Start hour:</b>
  <%= @schedule.start_hour %>
</p>

<p>
  <b>End hour:</b>
  <%= @schedule.end_hour %>
</p>


<%= link_to 'Edit', edit_schedule_plan_schedule_path(params[:schedule_plan_id], @schedule) %> |
<%= link_to 'Back', schedule_plan_schedules_path(params[:schedule_plan_id]) %>
