<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.datetime_select :birthdate %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password_md5 %><br />
    <%= f.text_field :password_md5 %>
  </div>
  <div class="field">
	<%= f.label :speciality_id %>
    <%= f.select :speciality_id, Doctor.get_specialities %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
